.sku {
    color: grey;
}

.product {
    border: dotted 1px gray;
    margin:20px;
    padding: 20px;
}

.price {
    color: red;
    font-size: 22px;
}
.errors {
    color: rgba(236, 0, 0, 0.89);
    font-size: 17px;
}